*.o
*.a
*.so
*.pyc
*.tar.gz
*.class
*.jar
app/indexer
bench/kiwi-bench
kvbench/deps
kvbench/src/kv-benchmark
kvbench/src/kiwi-benchmark
kvbench/src/leveldb-benchmark
kvbench/src/testdb
bindings/java/bluekiwi/target
bindings/java/java/target
bindings/java/native/linux/target
bindings/java/native/mac/target
bindings/java/gremlin/
bindings/python/build/
bindings/bench/my-app/target
.classpath
.project
.settings

bench/testdb/
engine/arena.o
engine/bloom_builder.o
engine/buffer.o
engine/compaction.o
engine/crc32.o
engine/db.o
engine/file.o
engine/hash.o
engine/heap.o
engine/indexer.o
engine/libindexer.a
engine/log.o
engine/lru.o
engine/memtable.o
engine/merger.o
engine/skiplist.o
engine/sst_block_builder.o
engine/sst_builder.o
engine/sst_loader.o
engine/sst.o
engine/utils.o
engine/vector.o
bench/err.txt
bench/kiwi-bench
